@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./fontello.css);
@import url(./normalize.css);

/* 숨김 콘텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

/* 스타일 초기화 */
/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: "Spoqa Han Sans", "sans-serif";
  font-weight: 400;
  color: #181818;
  font-size: 1.4rem;
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* 레이아웃  */
.container {
  background-color: silver;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  margin: 0 auto;
  width: 940px;
}

/* 헤더 */
.header {
  position: relative;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 65px;
  margin-top: 0;
  margin-bottom: 0;
}

.logo a {
  display: block;
}

.logo img {
  vertical-align: middle;
}

/* 안내링크 */
.member {
  position: relative;
  left: 10px;
  margin: 0;
  padding: 2px 0;
  list-style: none;
  font-size: 0;
  text-align: right;
}

.member li {
  display: inline-block;
  font-size: 1.4rem;
}

.member a {
  display: inline-block;
  padding: 8px 10px;
  text-transform: uppercase;
}

/* 메인 메뉴 */

.navigation {
  padding-bottom: 40px;
}

.menu {
  background: #e25a2d
    linear-gradient(
      to bottom,
      #e25a2d 0%,
      #e29c2b 45%,
      #e29c2b 60%,
      #e25a2d 100%
    );
  margin: 5px 0 0 0;
  padding-left: 225px;
  height: 45px;
  border-radius: 0 0 5px 5px;
  /* border-top: 2px solid #000; */
  box-shadow: 0 -2px 0 0 #000;
  list-style: none;
}

.menu :focus {
  outline: 0;
}

.menu-item {
  position: relative;
  float: left;
  border-left: 2px solid #fff;
}

.menu-button {
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.menu-act .menu-button {
  color: #ff0;
}

.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 47px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
}

.sub-menu1 {
  display: block;
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
  left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
}

.sub-menu li,
.sub-menu a {
  display: inline-block;
}

.sub-menu a {
  padding: 10px 10px 10px 0;
}

/* 비주얼 */
@keyframes textAni {
  0% {
    transform: translate(0, 0);
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: translate(400px, 75px);
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
  }
}

@keyframes flowerAni {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.visual {
  position: relative;
  height: 120px;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: flowerAni 2s infinite alternate 1s;
}

.visual::before {
  background-image: url(./images/ani_flower_01.png),
    url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}

.visual::after {
  background-image: url(./images/ani_flower_03.png),
    url(./images/ani_flower_04.png);
  background-position: 300px 10px, 800px 5px;
  animation-delay: 1s;
}

.visual-text {
  position: relative;
  z-index: 10;
  display: inline-block;
  margin: 0;
  background-color: yellow;
  animation-name: textAni;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main {
  display: flow-root;
  padding: 30px 15px;
  background-color: rgba(216, 255, 153, 0.226);
}

.group {
  float: left;
  margin: 0 15px;
  height: 60vh;
}

.group1 {
  width: 250px;
  background-color: rgba(69, 172, 82, 0.178);
}

.group2 {
  width: 380px;
  background-color: rgba(168, 21, 21, 0.5);
}

.group3 {
  width: 190px;
  background-color: rgba(38, 0, 255, 0.425);
}

.slogan {
  height: 10vh;
  background-color: purple;
}

.footer {
  background-color: tomato;
}

.footer-inner {
  height: 10vh;
  background-color: lightgray;
}
