@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./normalize.css);

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: "Spoqa Han Sans", "sans-serif";
  font-weight: 400;
  color: #181818;
  font-size: 1.4rem;
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* 레이아웃  */
.container {
  background-color: silver;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  margin: 0 auto;
  width: 940px;
}

.header {
  height: 10vh;
  background-color: yellow;
}

.visual {
  height: 10vh;
  background-color: lime;
}

.main {
  display: flow-root;
  padding: 30px 15px;
  background-color: rgba(216, 255, 153, 0.226);
}

.group {
  float: left;
  margin: 0 15px;
  height: 60vh;
}

.group1 {
  width: 250px;
  background-color: rgba(69, 172, 82, 0.178);
}

.group2 {
  width: 380px;
  background-color: rgba(168, 21, 21, 0.5);
}

.group3 {
  width: 190px;
  background-color: rgba(38, 0, 255, 0.425);
}

.slogan {
  height: 10vh;
  background-color: purple;
}

.footer {
  background-color: tomato;
}

.footer-inner {
  height: 10vh;
  background-color: lightgray;
}
